<div class="wrapper">
    <!-- top navbar-->
    <app-header class="topnavbar-wrapper"></app-header>
    <!-- offsidebar-->
    <app-offsidebar class="offsidebar"></app-offsidebar>
    <!-- Main section-->
    <section class="section-container">
        <!-- Page content-->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </section>
    <!-- Page footer-->
    <footer class="footer-container" app-footer></footer>
    <ng-chat [adapter]="signalRAdapter" [groupAdapter]="signalRAdapter" [userId]="signalRAdapter.userId" [historyEnabled]="false" [pollFriendsList]="true"
        [fileUploadUrl]="fileUploadUrl" (onParticipantClicked)="onEventTriggered('ParticipantClicked triggered')"
        (onParticipantChatOpened)="onEventTriggered('ParticipantChatOpened triggered')"
        (onParticipantChatClosed)="onEventTriggered('ParticipantChatClosed triggered')" (onMessagesSeen)="onEventTriggered('MessageSeen triggered')">
    </ng-chat>
</div>