<nz-tabset style="height:220px;" nzTabPosition="left" [(nzSelectedIndex)]="selectedIndex">
    <nz-tab *ngFor="let tab of groups" [nzTitle]="tab.name">
        <h2>{{tab.displayName}}</h2>

        <div style="border-bottom: 1px solid rgb(233, 233, 233);">
            <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
                Check all
            </label>
        </div>
        <br />
        <nz-checkbox-group [(ngModel)]="tab.permissions" (ngModelChange)="updateSingleChecked($event)">

        </nz-checkbox-group>

    </nz-tab>
</nz-tabset>