<router-outlet></router-outlet>

<ng-chat  *ngIf="signalRAdapter && signalRAdapter.userId" [adapter]="signalRAdapter" [groupAdapter]="signalRAdapter" [userId]="signalRAdapter.userId" [historyEnabled]="false" [pollFriendsList]="true"
    [fileUploadUrl]="fileUploadUrl" (onParticipantClicked)="onEventTriggered('ParticipantClicked triggered')"
    (onParticipantChatOpened)="onEventTriggered('ParticipantChatOpened triggered')"
    (onParticipantChatClosed)="onEventTriggered('ParticipantChatClosed triggered')" (onMessagesSeen)="onEventTriggered('MessageSeen triggered')">
</ng-chat>