<router-outlet></router-outlet>

<ng-chat [historyEnabled]="false" [theme]="currentTheme" title="在线用户列表" *ngIf="signalRAdapter && signalRAdapter.userId" [adapter]="signalRAdapter"
    [groupAdapter]="signalRAdapter" [userId]="signalRAdapter.userId" [pollFriendsList]="true" [fileUploadUrl]="fileUploadUrl" [pollingInterval]="60000"
    (onParticipantClicked)="onEventTriggered('ParticipantClicked triggered')" (onParticipantChatOpened)="onEventTriggered('ParticipantChatOpened triggered')"
    (onParticipantChatClosed)="onEventTriggered('ParticipantChatClosed triggered')" (onMessagesSeen)="onEventTriggered('MessageSeen triggered')">
</ng-chat>