/* src/app/app.component.css */

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}

.avatar {
    width: 128px;
    height: 128px;
}

.avatar250 {
    width: 250px;
    height: 128px;
}

.upload-icon {
    color: #999;
    font-size: 32px;
}

.ant-upload-text {
    margin-top: 8px;
    color: #666;
}