<form nz-form #f="ngForm" (ngSubmit)="onSubmit(f)" se-container="1" labelWidth="100">
    <se label="名称" error="请填写">
        <input type="text" nz-input [(ngModel)]="form.name" name="name" required>
    </se>
    <se label="简称" error="请填写，最多16位">
        <input type="text" nz-input class="form-control" [(ngModel)]="form.shortName" name="shortName" required maxlength="16">
    </se>
    <se label="Logo">
        <nz-upload class="avatar-uploader" [nzAction]="ossQuery.uploadUrl$ | async" [nzCustomRequest]="customReq" nzListType="picture-card" [nzShowUploadList]="false"
            (nzChange)="handleChange2($event)">
            <ng-container *ngIf="!form.logoImage">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">Upload</div>
            </ng-container>
            <img *ngIf="form.logoImage" [src]="form.logoImage" class="avatar" />
        </nz-upload>
    </se>
    <se label="封面图片">
        <nz-upload class="avatar-uploader" [nzAction]="ossQuery.uploadUrl$ | async" [nzCustomRequest]="customReq" nzListType="picture-card" [nzShowUploadList]="false"
            (nzChange)="handleChange($event)">
            <ng-container *ngIf="!form.coverImage">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">Upload</div>
            </ng-container>
            <img *ngIf="form.coverImage" [src]="form.coverImage" class="avatar250" />
        </nz-upload>
    </se>
    <se label="介绍">
        <ckeditor height="500" [(ngModel)]="form.description" name="description">
        </ckeditor>
    </se>
</form>