<nz-page-header nzTitle="用户地址列表">
    <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/']">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a [routerLink]="['/mall']">商城</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>

<nz-card [nzExtra]="extraAction">
    <ng-template #extraAction>
        <button nz-button nzSize="large" class="mr-4" (click)="create()" nzType="primary">{{'mall.address.add' | translate}}</button>
        <button nz-button nzSize="large" (click)="refresh()">{{'refresh' | translate}}</button>
    </ng-template>
    <nz-table #dataTable nzShowPagination [nzData]="dataItems">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Realname</th>
                <th>phone</th>
                <th>locationAddress</th>
                <th>locationLable</th>
                <th>Lat</th>
                <th>Lng</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataTable.data">
                <!-- <td>{{item.id}}</td> -->
                <td> {{item.realName}} </td>
                <td> {{item.phone}} </td>
                <td>{{item.locationAddress}}</td>
                <td>{{item.locationLable}}</td>
                <td>{{item.lat}}</td>
                <td>{{item.lng}}</td>
                <!-- <td>
                    <a (click)="edit(item)">{{'edit' | translate}}</a>
                </td> -->
            </tr>
        </tbody>
    </nz-table>
</nz-card>