<nz-page-header nzTitle="partner">
    <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/']">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a [routerLink]="['/mall']"> {{'mall'|translate}}</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>
<tt-map *ngIf="options" [options]="options" [markers]="markers" height="550px" ngClass="my-1"></tt-map>

<nz-card [nzExtra]="extraAction">
    <ng-template #extraAction>
        <button nz-button nzSize="large" (click)="refresh()">{{'refresh' | translate}}</button>
    </ng-template>
    <nz-table #dataTable nzShowSizeChanger nzShowPagination [nzFrontPagination]="false" [nzData]="dataItems" [nzTotal]="pageingInfo.totalItems"
        [(nzPageSize)]="pageingInfo.pageSize" [(nzPageIndex)]="pageingInfo.pageNumber" [nzLoading]="pageingInfo.isTableLoading" (nzPageIndexChange)="refresh()"
        (nzPageSizeChange)="refresh()">
        <thead>
            <tr>
                <th></th>
                <th>realName</th>
                <th>phone</th>
                <th>state</th>
                <th>locationLabel</th>
                <th>locationAddress</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataTable.data">
                <td>
                    <button nz-button nzType="primary" nzShape="circle" (click)="edit(item)">
                        <i nz-icon nzType="edit"></i>
                    </button>
                </td>
                <td>{{item.realName}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.state}}</td>
                <td>{{item.locationLabel}}</td>
                <td>{{item.locationAddress}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>