/* filter */
.grace-filter{width:100%; background:#FFFFFF; position:fixed; z-index:9; left:0; top:0; border-bottom:1px solid #F2F3F4; display:flex; flex-wrap:nowrap;}
.grace-filter .items{display:flex; flex-wrap:nowrap;  width:25%; justify-content:center; height:90upx; line-height:90upx;overflow: hidden;}
.grace-filter .items image{width:40upx; margin:22upx 10upx;}
.grace-filter .items text{margin-left:10upx; font-size:24upx;}
.grace-filter-options{width:100%; position:absolute; z-index:10; padding:20upx 0; right:0; top:92upx; background:#FFFFFF;}
.grace-filter-options .option{display:flex; justify-content:space-between; text-indent:2em; height:70upx; line-height:70upx;}
.grace-filter-options .option text{margin-right:30upx; font-size:30upx; color:#F00; font-weight:700;}
.grace-filter-options .current{color:#F00; font-weight:700;}
.grace-filter-buttons{display:flex; width:100%; flex-wrap:nowrap; position:absolute; z-index:11; left:0; bottom:0; height:90upx; background:#FFF;}
.grace-filter-buttons view{width:50%; height:100upx; line-height:100upx; text-align:center; position:relative;}
.grace-filter-buttons view:last-child{background:#FF0000; color:#FFF;}
.grace-filter-buttons view button{opacity:0; width:100%; position:absolute; z-index:9; left:0; top:0; height:90upx;}
