<nz-table #middleTable
          nzSize="middle"
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="dataItems"
          [nzTotal]="pageingInfo.totalItems"
          [(nzPageIndex)]="pageingInfo.pageNumber"
          [(nzPageSize)]="pageingInfo.pageSize"
          [nzLoading]="pageingInfo.isTableLoading"
          (nzPageIndexChange)="refresh()"
          (nzPageSizeChange)="refresh()">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of middleTable.data">
            <td nzShowCheckbox
                [(nzChecked)]="mapOfCheckedId[item.id]"
                (nzCheckedChange)="checked(item,$event)"></td>
            <td>{{ item.name }}</td>
        </tr>
    </tbody>
</nz-table>