<nz-page-header nzTitle="添加商品">
    <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/']">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a [routerLink]="['/mall']">商城</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>

<form nz-form #f="ngForm" (ngSubmit)="onSubmit(f)" se-container="1" labelWidth="100">
    <se label="商品分类" error="请填写">
        <nz-select [(ngModel)]="form.categoryId" nzPlaceHolder="商品分类" name="categoryId">
            <nz-option *ngFor="let option of optionList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </nz-select>
    </se>
    <se label="名称" error="请填写">
        <input type="text" nz-input [(ngModel)]="form.name" name="name" required>
    </se>
    <se label="商品编码" error="请填写">
        <input type="text" nz-input [(ngModel)]="form.code" name="code" required>
    </se>
    <se label="介绍" error="请填写">
        <ckeditor #edit [editor]="Editor" (ready)="onReady($event)" [(ngModel)]="form.desc" name="desc">
        </ckeditor>
    </se>
    <se>
        <button nz-button nzType="primary" [disabled]="!f.valid">提交</button>
    </se>
</form>