<div class="alain-default__content-title">
    <h1>
        Shop List
    </h1>
</div>

<nz-card [nzExtra]="extraAction">
    <ng-template #extraAction>
        <button nz-button
                (click)="create()"
                nzType="primary">{{'create' | translate}}</button>
        <button nz-button
                (click)="refresh()">{{'refresh' | translate}}</button>
    </ng-template>
    <nz-table #dataTable
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzData]="dataItems"
              [nzTotal]="pageingInfo.totalItems"
              [(nzPageIndex)]="pageingInfo.pageNumber"
              [(nzPageSize)]="pageingInfo.pageSize"
              [nzLoading]="pageingInfo.isTableLoading"
              (nzPageIndexChange)="refresh()"
              (nzPageSizeChange)="refresh()">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>图标</th>
                <th>cover</th>
                <th>名称</th>
                <th>简称</th>
                <th>介绍</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataTable.data">
                <!-- <td>{{item.id}}</td> -->
                <td>
                    <nz-avatar nzShape="square"
                               [nzSize]="64"
                               nzSize="large"
                               nzIcon="user"
                               [nzSrc]="item.logoImage"></nz-avatar>
                </td>
                <td>
                    <nz-avatar nzShape="square"
                               [nzSize]="128"
                               nzSize="large"
                               nzIcon="user"
                               [nzSrc]="item.coverImage"></nz-avatar>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.shortName}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a (click)="edit(item)">{{'edit' | translate}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="getQr(item)">{{'QR' | translate}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm
                       [nzTitle]="'确定删除吗?'"
                       (nzOnConfirm)="delete(item)"
                       nzPlacement="top">{{'delete' | translate}}</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>

<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="qrTitle"
          (nzOnCancel)="handleCancel()">
    <div>
        <img [src]="qrSrc"
             *ngIf="qrSrc" />
    </div>
    <div *nzModalFooter>
        <button nz-button
                nzType="default"
                (click)="handleCancel()">关闭</button>
    </div>
</nz-modal>