.appContainer {
  width: 750rpx;
  padding: 0 20rpx;
}

page {
  --button-danger-background-color: #fa436a;
  --button-primary-background-color: #80d640;
  --button-primary-border-color: #80d640;
}
.fill {
  flex: 1;
}

.align_center {
  align-items: center;
}

.line1 {
  margin: 10rpx 20rpx;
  background: linear-gradient(to bottom, #eaeaea, rgba(255, 255, 255, 0));
  height: 1px;
}

.fix-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.mr-2 {
  margin-right: 40rpx;
}

.uniPopup {
  padding: 20rpx;
  background: #fff;
  border-radius: 10rpx;
  box-shadow: 2upx 3upx 5upx rgba(40, 40, 40, 0.2);
}

// cardWrap start
.cardWrap {
  margin: 40rpx 0;
  width: 710rpx;
  &__header {
    height: 70rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    .__title {
      margin-left: 30rpx;
      font-size: 26rpx;
      font-weight: 600;
      color: $font-color-dark;
    }
    .__more {
      margin-right: 20rpx;
      font-size: 26rpx;
      font-weight: 600;
      color: $font-color-dark;
      display: flex;
      flex-direction: row;
    }
  }
}

.card__cell {
  display: flex;
  padding: 20rpx 0 20rpx 20rpx;
  flex-direction: row;
  align-items: center;
  ._icon {
    font-size: 40rpx;
    width: 60rpx;
  }
  ._main {
    flex: 1;
    ._title {
      font-size: 32rpx;
      padding: 6rpx 0;
      font-weight: 800;
      color: $font-color-dark;
    }
    ._desc {
      color: $uni-text-color;
      display: flex;
      flex-direction: row;
    }
  }
  ._submain {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 24rpx;
  }
  ._nav {
    font-size: 48rpx;
    color: $uni-text-color-grey;
  }
}
// cardWrap end




.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r-ac {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-r {
  display: flex;
  flex-direction: row;
}