<nz-page-header nzTitle="商品">
    <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>
            <a [routerLink]="['/']">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a [routerLink]="['/mall']">商城</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>

<nz-card [nzExtra]="extraAction">
    <ng-template #extraAction>
        <button nz-button (click)="add()" nzType="primary">{{'spu.create' | translate}}</button>
        <button nz-button (click)="refresh()">{{'refresh' | translate}}</button>
    </ng-template>
    <nz-table #dataTable nzShowPagination [nzData]="dataItems">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Category</th>
                <th>Name</th>
                <th>Code</th>
                <th>desc</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataTable.data">
                <!-- <td>{{item.id}}</td> -->
                <td>{{item.category.name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.code}}</td>
                <td>{{item.desc}}</td>
                <td>
                    <button nz-button nzType="primary" nzSize="small" [routerLink]="['/mall/spu-edit', item.id]">{{'edit' | translate}}</button>
                    <nz-divider nzType=" vertical"></nz-divider>
                    <button nz-button nzType="danger" nzSize="small" nz-popconfirm [nzPopconfirmTitle]="'确定删除吗?'" (nzOnConfirm)="delete(item)"
                        nzPopconfirmPlacement="top">{{'delete' | translate}}</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>